name: Ubuntu CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        arch: [x86_64]

    runs-on: ${{ matrix.os }}

    concurrency:
      group: ${{ github.ref }}-${{ github.base_ref }}-${{ github.head_ref }}-${{ matrix.os }}-${{ matrix.arch }}-Linux
      cancel-in-progress: true
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
          libgl1-mesa-dev \
          build-essential  \
          libglfw3-dev 
    
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
    
      - name: Install xmake
        run: |
          wget https://xmake.io/shget.text -O - | bash
          echo "/home/runner/.local/bin" >> $GITHUB_PATH
    
      - name: Install latest GCC
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/ppa -y 
          sudo apt-get update
          sudo apt install -y g++-13 gcc-13
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 60 --slave /usr/bin/g++ g++ /usr/bin/g++-13
          sudo apt-get install -y gcc-13-multilib g++-13-multilib

      - name: Print GCC version
        run: gcc --version
    
      - name: Set xmake package cache path
        run: echo "XMAKE_PKG_CACHEDIR=$(pwd)/xmake-cache" >> $GITHUB_ENV
    
      - name: Retrieve xmake cache for packages
        uses: actions/cache@v4
        with:
          path: xmake-cache
          key: ${{ matrix.os }}-${{ matrix.arch }}
    
      - name: Build
        run: |
          sed -i 's/add_linkdirs("lib")/-- add_linkdirs("lib")/' xmake.lua
          xmake

      - name: Run
        run: |
          xmake run
